@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="text-center">
    <h3>ViewBag data is=@ViewBag.Var1</h3>
    <h3>ViewData data is@ViewData["Var2"]</h3>
    <h3>TempData data is=@TempData["Var3"]</h3>
</div>