
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>
<img src="C:\Users\Suboor shaikh\Source\Repos\MyFirstRepository\Demo\wwwroot\images\OIP.jpeg" alt="image_description">
<a href="OIP.jpeg"></a>